/* CSS Styling for The Imitaiton Assignment */

img {
    margin: 20px;
}
.penguins {
    filter: sepia(100%);
    border-radius: 150px;
    border: 2px black solid;
}
.football {
    border: 20px solid black;
    filter: grayscale(100%);
    align-self: center;
    border-image: url(border.png) 33% round;
    
}
.dino {
    filter: hue-rotate(90deg) drop-shadow(15px -5px 5px);
}
.seagull {
    box-shadow: 0px 15px 10px darkgray;
    background-image: linear-gradient(135deg, rgb(216, 181, 224), white);
}
.butterfly {
    filter: invert(100%);
}
.stage {
    filter: blur(5px);
}