/* CSS Styling for The Imitaiton Assignment */

div {
    margin: 20px;
    float: left;
}
.penguins {
    filter: sepia(100%);
    border-radius: 150px;
    border: 2px black solid;
}
.football {
    filter: grayscale(100%);
}
.dino {
    filter: hue-rotate(90deg) drop-shadow(15px -5px 5px);
}
.seagull {
    box-shadow: 0px 15px 10px darkgray;
    background-image: linear-gradient(135deg, rgb(216, 181, 224), white);
}
.butterfly {
    filter: invert(100%);
    border-radius: 20% 0% 20% 0%;
}
.stage {
    filter: blur(5px);
}
.border {
    width: 500px;
    height: 230px;
    border: 20px solid black;
    border-image: url(border.png) 54 round;
}